@charset "UTF-8";
/* CSS Document */

body
{
    background:#efefef!important;
direction: rtl;
    unicode-bidi: embed;
}


a:hover
{
    color: #46b1cd;
}

a 
{
    color: #46b1cd;
    text-decoration: none;
}

a:link
{
    color: #46b1cd;
}

.esig-sitename
{
    text-shadow: none;
}

.navbar-inverse .navbar-brand 
{
    color: #fff;
    letter-spacing: .1em;
}

.first-page
{
    margin-top: 58px;

}

.navbar-brand 
{
    padding: 25px 15px;
    text-shadow: none;
    color: #efefef!important;
}

.navbar-brand .logo
{
    height:30px;
}

.signer-header
{
    background: #23282e;
    width: 100%;
    color: #fefefe;
    overflow: hidden;
    z-index: 200;
    position: relative;	
}

.navbar-header 
{
    display:inline ;
    float:left ; 
}

.document-sign-page
{
    left:auto;
    padding-right:30px;
    direction: rtl;
}

.doc-name
{
    float: left;
    font-size: 18px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding-top: 5px;
    letter-spacing: .1em;
}

.doc_page
{
    width:780px;
    background-color: white;
    box-shadow: 0px 1px 1px #AAA;
    margin-bottom: 84px;
    padding-bottom:2em;
    min-height:600px;
    direction: rtl;
}
#an-admin{
    position: relative;
    right: -500px;    
}  

.doc_page .post-password-form
{
    width: 200px;
    margin: 70px auto;
}

.doc_page .post-password-form label input
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background:#fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}	

.doc_page .post-password-form label input:hover
{
    background-color: #fff;
    background: #fff;
}

.doc_page .post-password-form p
{
    font-size: 12px;
}

.doc_page .post-password-form input
{
    font-weight: 300;
    font-size: 15px;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    border-radius: 2px;
    background: #e9573f;
    border: transparent;
    text-transform: capitalize;
    margin-right: 0;
    background-color: #e9573f;
    color: #fff;
    padding: 6px;
    width: 100%;
    margin: 3px 0;
}

.doc_page .post-password-form input:hover
{
    background-color: #dc3519;	
    background: #dc3519;
}

.document_id
{
    display:none ; 
    position : relative ; 
    float:left ; 
    width:80% ; 
}



.document_date 
{
    display:none ; 
    position : relative ; 
    float:left ; 
    width:20% ; 
}

.signed_on 
{
    display:none ; 
    margin-top:8px ; 
}
/*
#signature-wrapper
{
    float: right;
}*/

#doc_title
{
    text-align: right;
}

.doc-terms
{
    text-shadow: 0px 1px 1px #000;
    color:#46b1cd!important;
}

.doclogo-right 
{
    padding: 10px;
    float:left ; 
    display:inline ; 
}

.sign-arrow{
    position:absolute;
    width: 80px;
    height: 70px;
    top:30%;
    right:-14px;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg); 
    transform: rotate(180deg);
}

.rtl-signature-meta
{
    position:relative; 
    
}


.signature-wrapper-displayonly-signed{
    position:relative; 
    
}

.icon-success-check{
    position:relative; 
    left:230px !important;   
}

.footer-btn
{
    padding: 13px;
}



.footer-agree
{
    background: #23282e;
    width: 100%;
    color: #fefefe;
    position: fixed;
    z-index: 200;
    padding: 15px;
    bottom:0;
}

#esig-iam
{
    font-size: 16px;
    text-decoration: none;
    color: #efefef;	
}

.agree-text
{
    font-size: 16px;
    text-decoration: none;
    color: #efefef;	
}

.agree-container
{
    margin-right: 5px;
    margin-left: 0;
    padding: 28px 12px 12px 12px;
}

.agree-button
{
    color: white!important;
    display:inline-block;
    font-size:16px;
    letter-spacing: .05em;
    text-decoration:none!important;
    border: none;
    border-top: solid 1px #95cfe7;
    background: #5ab8dd;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5ab8dd', endColorstr='#2ba3d3');
    background: -moz-linear-gradient(top, #5ab8dd, #2ba3d3);
    background: -webkit-gradient(linear, left top, left bottom, from(#5ab8dd), to(#2ba3d3));
    -webkit-box-shadow: 0px 1px 1px #557280;
    -moz-box-shadow: 0px 1px 1px #557280;
    box-shadow: 0px 1px 1px #557280;
    text-shadow: 0px 1px 1px #315D6D;
    font-weight: 700;
    padding: 15px 35px 15px 32px;
    border-radius: 3px;
}

.agree-button:hover
{
    color:#fff;
    text-decoration:none;	
}

.agree-button.disabled
{
    cursor:default;
    border-top: 1px solid #b5b5b6;
    background: #6d6d6f;
    background: -webkit-gradient(linear, left top, left bottom, from(#8e8e8f), to(#6d6d6f));
    background: -webkit-linear-gradient(top, #8e8e90, #6d6d6f);
    background: -moz-linear-gradient(top, #8e8e90, #6d6d6f);
    background: -ms-linear-gradient(top, #8e8e90, #6d6d6f);
    background: -o-linear-gradient(top, #8e8e90, #6d6d6f);
    padding: 15px 35px 15px 32px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 -1px 0;
    color: #aaaaaa!important;
    text-decoration:none!important;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .05em;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

.doc_page input[type="button"], .doc_page input[type="submit"]{}

.esig-template-page .sign-form label.error
{
    color:#c00;
}

.doc_title
{
    font-size: 26px;
    font-weight: 200;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: inherit;
    color:#000;
    text-align:right;
}

.esig-blogname
{
    color:#000;
}

.success_title
{
    font-size: 26px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
}

.esign input
{
    border: 1px solid #bdc3c7!important;
    height: 43px!important;
    width: 34.5%!important;
    border-radius:3px!important;
    margin-top: 7px;
}

.esign input:focus
{
    border-color:#66afe9!important;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.signers_label
{
    font-weight: 300;
    text-transform: none;
    color: #504f4f;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}



.page_loader_overlay
{
    display:none;
    position:fixed;
    left:0;
    top:0;
    text-align:center;
    height:100%;
    width:100%;
    z-index:15;
    background: #000;
    opacity:.3;
}

#page_loader 
{
    width: 100px;
    height: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 990;
    margin: -20px -50px;
}

#page_loader div 
{
    width: 20px;
    height: 20px;
    background: #FFF;
    border-radius: 50%;
    position: absolute; 
    z-index: 990;
}

#d1 
{ 
    animation: animate 2s linear infinite;
}

#d2 
{ 
    animation: animate 2s linear infinite -.4s; 
}

#d3 
{
    animation: animate 2s linear infinite -.8s; 
}

#d4 
{ 
    animation: animate 2s linear infinite -1.2s; 
} 

#d5 
{ 
    animation: animate 2s linear infinite -1.6s; 
}

@keyframes animate 
{
    0% { left: 100px; top:0}
    80% { left: 0; top:0;}
    85% { left: 0; top: -20px; width: 20px; height: 20px;}
    90% { width: 40px; height: 15px; }
    95% { left: 100px; top: -20px; width: 20px; height: 20px;}
    100% { left: 100px; top:0; }
}



.ui-tooltip, .esign-arrow:after 
{
    background: black;
    border: 1px solid white;
    width:300px;
    position:fixed;
}

.ui-tooltip 
{
    padding: 10px 10px!important;
    color: white!important;
    border-radius: 5px!important;
    font: 13px "Helvetica Neue", Sans-Serif!important;
    text-transform: normal;
    background: #0c0e11!important;
    box-shadow: none!important;
    line-height:1.3em!important;
    max-width: 250px!important;
    min-width: auto !important;
    margin: 0 auto!important;
}

.sign-arrow {
    position: absolute;
    top: 0;
    right: -80px !important;
    width: 80px;
    height: 70px;
}

.esign-arrow.top 
{
    top: -16px;
    bottom: auto;
}

.esign-arrow.left
{
    left: 20%;
}

.esign-arrow:after 
{
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
}

.esign-arrow.top:after 
{
    bottom: -20px;
    top: auto;
}

.esig_header_top
{
    margin-top:20px;
    display:inline-block;
    position:relative;
    width:100%;
}

.esig_top_left 
{   
    position:relative;
    float:left;
    display:inline-block ; 
    width:65% ;
} 

.esig_top_right
{ 
    position:relative;
    float:left;
    display:inline-block ;  
    width:35% ; 
    margin-top: 20px;
    margin-bottom: 10px;
} 


.col-sm-8
{
    max-width:345px;
    padding-left:0px !important;
}



.rtl-clearfix-history
{
    top:40px;
   
}

.rtl-site-name{
    float: left !important;
    direction: rtl;
}


table.responsive-table td:nth-child(1):before,
table.responsive-table td:nth-child(2):before {
    position: absolute;
    right: .5em;
    font-weight: 700
}
.audit-wrapper #audit-trail-wrapper .main .history table tr td:first-child,
.audit-wrapper #audit-trail-wrapper .main .history table th:first-child{
    padding-left: 1% !important; 
  padding-right: 30% !important; 
    text-align: right;
}

table.display td, table.display th {
text-align: right;
}

table.responsive-table td:nth-child(1), table.responsive-table td:nth-child(2) {
    padding-left: 0% !important;
    padding-right: 30% !important;
}







#audit-trail-wrapper .header .logo{
    padding-top: 0px !important;
}

#audit-trail-wrapper .header .subcaption .image-wrapper{
    padding-left: 5px !important;
}



table.responsive-table td:nth-child(1):before,
table.responsive-table td:nth-child(2):before {
    position: absolute;
    right: .5em;
    font-weight: 700
}

@media(orientation:portrait) {
.audit-wrapper #audit-trail-wrapper .main .history table tr td:first-child,
.audit-wrapper #audit-trail-wrapper .main .history table th:first-child{
    padding-left: 1% !important; 
  padding-right: 30% !important; 
    text-align: right;
}
#audit-trail-wrapper .header {
    padding-left: 15px;
}
.esig-right{
    float:left !important;
    text-align: left !important;
}
.esig-left{
    float:right !important;
}

}

table.display td, table.display th {
text-align: right;
}

table.responsive-table td:nth-child(1), table.responsive-table td:nth-child(2) {
    padding-left: 0% !important;
    padding-right: 30% !important;
}

#mobile-adopt-sign {
    float: left !important;
    padding-bottom: 10px;
}

.sig-header-next-page div:first-child {
    float: right !important;
}
.container.signature-description-nextpage {
    padding-top: 10px;
}

@media(orientation: landscape) {

    .audit-wrapper #audit-trail-wrapper .main .history table tr td:first-child, .audit-wrapper #audit-trail-wrapper .main .history table th:first-child{
        padding-right: 0px !important;
        
    }

    .signatures .form-inline .col-sm-6 {
        float: right ;
    }
    .signatures .col-sm-6 {
        float: right !important;
        margin-left: 1px !important;
    }

    .blog-url.pdf-blog-url {
        float: left;
    }

    #audit-trail-wrapper .header .logo {
      
        float: left !important;
        padding-left: 20px !important;
    }

    #audit-trail-wrapper .left{
        float: right !important;
    }

    .esig-right{
        float:left !important;
        text-align: left !important;
    }
    .esig-left{
        float:right !important;
    }
    

    .container.sig-header-next-page div {
        float: right !important;
    }
    .container.signature-description-nextpage {
        padding-top: 20px;
    }
    .col.left.rtl-signature-certificate {
        width: 70%;
    }

    .blog-url.pdf-blog-url {
        float: right ;
    }
    .audit-signature.pull-right {
        float: left !important;
        margin-left: 5px !important;
        margin-right: 0px !important;
    }   
   
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .signatures .col-sm-6 {
        float: right;
    }

    .blog-url.pdf-blog-url {
        float: right ;
    }
    .audit-signature.pull-right {
        float: left !important;
        margin-left: 5px !important;
        margin-right: 0px !important;
    }
   }

